
.Logcontainer {
    background-color: #272727;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.Logcontainer img {
    display: block;
    width: 120px;
    height: auto;
    margin: 0 auto 20px;
}

#signinForm {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}

.sbm {
    background-color: #00c8ff;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sbm:hover {
    background-color: #00b0e0;
}
.textColor{
    color: white;
}